<!-- Generated template for the EstadoAsistenciaComponent component -->
<ion-list>
  <ion-item  (click)="itemClick(val);">    
    Presente  <ion-icon style="color:'green'" name="ios-checkmark-circle"></ion-icon>
  </ion-item>
  <ion-item  (click)="itemClick(val);">    
    Ausente <ion-icon style="color:'red'" name="ios-close-circle"></ion-icon>   
  </ion-item>
  <ion-item  (click)="itemClick(val);">    
    Justificado <ion-icon name="ios-clipboard"></ion-icon>   
  </ion-item>
  <ion-item  (click)="itemClick(val);">    
    Media Falta <ion-icon style="color:'blue'" name="ios-clock"></ion-icon>
  </ion-item>  
</ion-list>